<?xml version="1.0" encoding="UTF-8"?>
<s:Envelope xmlns:s="http://schemas.xmlsoap.org/soap/envelope/">
   <s:Body>
      <MolST247ConsultasResponse xmlns="http://tempuri.org/">
         <MolST247ConsultasResult>true</MolST247ConsultasResult>
         <coderror>0</coderror>
         <msgerror/>
         <idwsst247>MOL202108310000026940230189</idwsst247>
         <XmlOutMol><![CDATA[<DATA>
  <coderror>0000</coderror>
  <msgerror></msgerror>
  <idwsst247>202108310000026940230189</idwsst247>
  <organizacion>656</organizacion>
  <num_cuenta_s>000423471______4132</num_cuenta_s>
  <logo>586</logo>
  <desc_logo>SIGNATURE                     </desc_logo>
  <modelo>NMO</modelo>
  <tipo_cta>C</tipo_cta>
  <relacion_cuenta>P</relacion_cuenta>
  <cobertura_cuenta>I</cobertura_cuenta>
  <apaterno>LOPEZ      </apaterno>
  <amaterno>GATICA         </amaterno>
  <nombre_clte>HUGO ALEJANDR                 </nombre_clte>
  <dir_part>DIRECCION DE PRUEBA                                         </dir_part>
  <ciudad_part></ciudad_part>
  <comuna_part>LAS CONDES            </comuna_part>
  <region_part>13</region_part>
  <fono_part>011111111</fono_part>
  <direc_envio_eecc>DIRECCION DE PRUEBA                                         </direc_envio_eecc>
  <ciudad_envio_eecc>SANTIAGO       </ciudad_envio_eecc>
  <comuna_envio_eecc>LAS CONDES            </comuna_envio_eecc>
  <region_envio_eecc>13</region_envio_eecc>
  <fono_envio_eecc>076099181</fono_envio_eecc>
  <cdgo_postal>676000000</cdgo_postal>
  <dir_lab>DIRECCION LABORAL 1234       L                              </dir_lab>
  <ciudad_laboral></ciudad_laboral>
  <comuna_lab> SANTIAGO             </comuna_lab>
  <reg_laboral>08</reg_laboral>
  <fono_laboral>076099181</fono_laboral>
  <dir_email1></dir_email1>
  <rut>0011111111</rut>
  <dv_rut_clte>1</dv_rut_clte>
  <nro_cliente>0000000152214156790</nro_cliente>
  <nro_relacion>0000000152214156790</nro_relacion>
  <nro_int>1590000000</nro_int>
  <nro_ctacte>0000000000000203882159</nro_ctacte>
  <campana>000000</campana>
  <nro_int2>0000000000</nro_int2>
  <sucursal>159</sucursal>
  <cta_trassaldo>0005522520250071656</cta_trassaldo>
  <cantidad_adic>0000</cantidad_adic>
  <cdgo_autcc>1</cdgo_autcc>
  <cdgo_vip>2</cdgo_vip>
  <cdgo_mje_mora_pgomin>2</cdgo_mje_mora_pgomin>
  <codigo_mov>0</codigo_mov>
  <por_pminimo>1</por_pminimo>
  <estado_canales1>0</estado_canales1>
  <fecha_datos>20210827</fecha_datos>
  <fecha_apert>20190416</fecha_apert>
  <fecha_modif>20210414</fecha_modif>
  <fecha_actv_tjta>20190418</fecha_actv_tjta>
  <fecha_act_ren>00000000</fecha_act_ren>
  <fecha_bloq1>20200103</fecha_bloq1>
  <fecha_bloq2>20190418</fecha_bloq2>
  <fecha_ult_pago_pesos>20210817</fecha_ult_pago_pesos>
  <fecha_ult_pago_dolar>00000000</fecha_ult_pago_dolar>
  <fecha_ult_fact>20210829</fecha_ult_fact>
  <fecha_venc_pago>20210915</fecha_venc_pago>
  <fecha_nac_tit>19820617</fecha_nac_tit>
  <cdgo_bloq1></cdgo_bloq1>
  <cdgo_bloq2></cdgo_bloq2>
  <cdgo_bloq_numerico>0</cdgo_bloq_numerico>
  <cdgo_mora>0</cdgo_mora>
  <cdgo_cartera_vencida>0</cdgo_cartera_vencida>
  <cdgo_cob>0</cdgo_cob>
  <forma_pago>4</forma_pago>
  <ciclo_fac>24</ciclo_fac>
  <cdgo_fv>1</cdgo_fv>
  <cdgo_empresa>999999</cdgo_empresa>
  <cdgo_envio_eecc>0</cdgo_envio_eecc>
  <rebaja_cobadm>9</rebaja_cobadm>
  <nro_moras_periodo>01</nro_moras_periodo>
  <nro_excesos_periodo>00</nro_excesos_periodo>
  <nro_bloq_por_moras>00</nro_bloq_por_moras>
  <nro_bloq_por_excesos>00</nro_bloq_por_excesos>
  <cdgo_aval>0</cdgo_aval>
  <cdgo_promocion>000</cdgo_promocion>
  <ind_tjta_operador>1</ind_tjta_operador>
  <ind_pin>1</ind_pin>
  <ind_cobro_comision>0</ind_cobro_comision>
  <porcje_exceso_compras_nac>120</porcje_exceso_compras_nac>
  <porcje_exceso_compras_int>120</porcje_exceso_compras_int>
  <medio_envio_fisico_eecc>0</medio_envio_fisico_eecc>
  <tipo_dir_fisica>3</tipo_dir_fisica>
  <tipo_pago>0</tipo_pago>
  <por_pfijo>00000</por_pfijo>
  <mto_pfijo_9>000000000</mto_pfijo_9>
  <cdgo_embozado>1</cdgo_embozado>
  <linea_limites>00000000000</linea_limites>
  <pct_pesos_9>211</pct_pesos_9>
  <pct_dolar_9>111</pct_dolar_9>
  <tres_cpc>Y</tres_cpc>
  <comision_exceso>Y</comision_exceso>
  <cupo_nacional>0000010000000</cupo_nacional>
  <cupo_int>000000001507400</cupo_int>
  <cupo_linea_2>0000000000000</cupo_linea_2>
  <cupo_virtual>0000000000000</cupo_virtual>
  <cupo_virtual_int>000000000000000</cupo_virtual_int>
  <deuda_nac_cta>+0000001513274</deuda_nac_cta>
  <deuda_int_cta>+000000000072730</deuda_int_cta>
  <deuda_l2_cta>+0000000000000</deuda_l2_cta>
  <deuda_mora_nac_cta>+0000000000000</deuda_mora_nac_cta>
  <deuda_mora_int_cta>+000000000000000</deuda_mora_int_cta>
  <deuda_nac_fact_cta>+0000001513274</deuda_nac_fact_cta>
  <deuda_int_fact_cta>+000000000072730</deuda_int_fact_cta>
  <disp_nac_cta>+0000008376630</disp_nac_cta>
  <disp_int_cta>+000000001434700</disp_int_cta>
  <disp_l2_cta>+0000000000000</disp_l2_cta>
  <saldo_credito_cuota_capital>+0000000000000</saldo_credito_cuota_capital>
  <disp_avances_cta>+0000008376630</disp_avances_cta>
  <disp_avances_dolar_cta>+000000001434700</disp_avances_dolar_cta>
  <mora_1_30d>0000000000000</mora_1_30d>
  <mora_31_60d>0000000000000</mora_31_60d>
  <mora_61_90d>0000000000000</mora_61_90d>
  <mora_91_120d>0000000000000</mora_91_120d>
  <mora_121_150d>0000000000000</mora_121_150d>
  <mora_151_180d>0000000000000</mora_151_180d>
  <mora_181_210d>0000000000000</mora_181_210d>
  <mora_210_999d>0000000000000</mora_210_999d>
  <recargo_cob_1_30d>0000000000000</recargo_cob_1_30d>
  <recargo_cob_31_60d>0000000000000</recargo_cob_31_60d>
  <recargo_cob_61_90d>0000000000000</recargo_cob_61_90d>
  <recargo_cob_91_120d>0000000000000</recargo_cob_91_120d>
  <recargo_cob_121_150d>0000000000000</recargo_cob_121_150d>
  <recargo_cob_151_180d>0000000000000</recargo_cob_151_180d>
  <recargo_cob_181_210d>0000000000000</recargo_cob_181_210d>
  <recargo_cob_210_999d>0000000000000</recargo_cob_210_999d>
  <pago_minimo>0000001513274</pago_minimo>
  <sldo_col_nac>+0000000005457</sldo_col_nac>
  <sldo_col_int>+000000000072730</sldo_col_int>
  <tasa_interes_rotativo>0162</tasa_interes_rotativo>
  <tasa_interes_cuotas_2_4>0262</tasa_interes_cuotas_2_4>
  <tasa_interes_cuotas_5_24>0162</tasa_interes_cuotas_5_24>
  <interes_x_cobrar_oper>0000000000000</interes_x_cobrar_oper>
  <interes_x_cobrar_corr>0000000000062</interes_x_cobrar_corr>
  <interes_x_cobrar_penales>0000000000000</interes_x_cobrar_penales>
  <interes_dev_oper>0000020210829</interes_dev_oper>
  <interes_dev_corr>0000000000061</interes_dev_corr>
  <interes_dev_penales>0000000000000</interes_dev_penales>
  <interes_perc_oper>0000000000000</interes_perc_oper>
  <interes_perc_corr>0000000000000</interes_perc_corr>
  <interes_perc_penales>0000000000000</interes_perc_penales>
  <deuda_total>+000000209802320</deuda_total>
  <colocacion_mes>+0000000000000</colocacion_mes>
  <monto_compra_mes>0000000000000</monto_compra_mes>
  <monto_avance_mes>0000000000000</monto_avance_mes>
  <monto_ultimo_pago_peso>0000000001950</monto_ultimo_pago_peso>
  <monto_ultimo_pago_dolar>000000000000000</monto_ultimo_pago_dolar>
  <monto_cobro_adm>0000000000000</monto_cobro_adm>
  <consumo_pesos>0000000000000</consumo_pesos>
  <consumo_dolar>000000000000000</consumo_dolar>
  <pagos_pesos_ciclo>0000000000000</pagos_pesos_ciclo>
  <pagos_dolar_ciclo>000000000000000</pagos_dolar_ciclo>
  <creditos_pesos_ciclo>0000000000000</creditos_pesos_ciclo>
  <creditos_dolar_ciclo>000000000000000</creditos_dolar_ciclo>
  <debitos_pesos_ciclo>0000000000000</debitos_pesos_ciclo>
  <debitos_dolar_ciclo>000000000000000</debitos_dolar_ciclo>
  <creditos_memo_pesos_ciclo>0000000000000</creditos_memo_pesos_ciclo>
  <creditos_memo_dolar_ciclo>000000000000000</creditos_memo_dolar_ciclo>
  <debitos_memo_pesos_ciclo>0000000110096</debitos_memo_pesos_ciclo>
  <debitos_memo_dolar_ciclo>000000000000000</debitos_memo_dolar_ciclo>
  <utili_x_cobrar_moneda_ext>000000000072700</utili_x_cobrar_moneda_ext>
  <pagos_x_aplicar_moneda_ext>000000000000000</pagos_x_aplicar_moneda_ext>
  <utili_x_cobrar_moneda_nac>0000001504738</utili_x_cobrar_moneda_nac>
  <tasa_int_avce_cta_corta>0262</tasa_int_avce_cta_corta>
  <tasa_int_avce_cta_larga>0162</tasa_int_avce_cta_larga>
  <monto1>+000000000000000</monto1>
  <monto2>+000000000000000</monto2>
  <monto3>+000000000000000</monto3>
  <numero1>0000000000</numero1>
  <numero2>0000000000</numero2>
  <numero3>0000000000</numero3>
  <flag1>E</flag1>
  <flag2>1</flag2>
  <flag3></flag3>
  <string1>20210829;20210915   </string1>
  <string2>20210923;20211007   </string2>
  <string3>2019080720991231    </string3>
  <filler_04>prueba@test.com                               </filler_04>
  <num_tarjeta_s>000423471______4132</num_tarjeta_s>
  <secuencia_tarjeta_s>0001</secuencia_tarjeta_s>
  <nomb_tjta_habiente>HUGO LOPEZ GATICA     </nomb_tjta_habiente>
  <nombre_empresa></nombre_empresa>
  <rut_tarjeta>0011111111</rut_tarjeta>
  <dv_tarjeta>1</dv_tarjeta>
  <sexo>1</sexo>
  <estado_civil>1</estado_civil>
  <tipo_tjta>T</tipo_tjta>
  <estado_tjta>1</estado_tjta>
  <fecha_vcto_tjta>20220430</fecha_vcto_tjta>
  <codigo_bloq_tjta></codigo_bloq_tjta>
  <fecha_bloq_tjta>00000000</fecha_bloq_tjta>
  <codigo_afinidad>87</codigo_afinidad>
  <desc_afinidad>M. PERSONAL BANK EM DI             </desc_afinidad>
  <cdgo_socio>000000000000000</cdgo_socio>
  <offset>+0000</offset>
  <fecha_vcto_actual>20220430</fecha_vcto_actual>
  <fecha_vcto_anterior>00000000</fecha_vcto_anterior>
  <flag_actv_tjta_actual>N</flag_actv_tjta_actual>
  <flag_actv_tjta_anterior>Y</flag_actv_tjta_anterior>
  <accion>0</accion>
  <tjtas_requeridas>00</tjtas_requeridas>
  <fecha_activacion>20190418</fecha_activacion>
  <fecha_apertura>20190416</fecha_apertura>
  <fecha_modif_tjta>20210726</fecha_modif_tjta>
  <member_since>001904</member_since>
  <cupo_compras_nac_tjta>0000010000000</cupo_compras_nac_tjta>
  <cupo_compras_int_tjta>000000001507400</cupo_compras_int_tjta>
  <cupo_avces_nac_tjta>0000010000000</cupo_avces_nac_tjta>
  <cupo_avces_int_tjta>000000001507400</cupo_avces_int_tjta>
  <cupo_linea2_tjta>0000000000000</cupo_linea2_tjta>
  <deuda_compras_nac_tjta>+0000001513274</deuda_compras_nac_tjta>
  <deuda_compras_int_tjta>+000000000072730</deuda_compras_int_tjta>
  <deuda_avces_nac_tjta>+0000000000000</deuda_avces_nac_tjta>
  <deuda_avces_int_tjta>+000000000000000</deuda_avces_int_tjta>
  <deuda_l2_tjta>+0000000000000</deuda_l2_tjta>
  <disp_comp_nac_tjta>+0000008486726</disp_comp_nac_tjta>
  <disp_comp_int_tjta>+000000001434700</disp_comp_int_tjta>
  <disp_avces_nac_tjta>+0000008376630</disp_avces_nac_tjta>
  <disp_avces_int_tjta>+000000001434700</disp_avces_int_tjta>
  <disp_l2_tjta>+0000000000000</disp_l2_tjta>
  <monto11>+000000000000000</monto11>
  <monto21>+000000000000000</monto21>
  <monto31>+000000000000000</monto31>
  <numero11>0000000000</numero11>
  <numero21>0000000000</numero21>
  <numero31>0000000000</numero31>
  <flag11>1</flag11>
  <flag21>0</flag21>
  <flag31>0</flag31>
  <string11></string11>
  <string21></string21>
  <string31>  3                 </string31>
  <filler_05>                                    20190418      </filler_05>
  <nro_relacion2>0000000152214156790</nro_relacion2>
  <status_relacion>1</status_relacion>
  <numero_cliente>0000000152214156790</numero_cliente>
  <cantidad_sub_cuentas>00002</cantidad_sub_cuentas>
  <codigo_bloqueo_rel></codigo_bloqueo_rel>
  <nombre_rel>HUGO LOPEZ GATICA     </nombre_rel>
  <direccion_relacion>DIRECCION DE PRUEBA                                         </direccion_relacion>
  <comuna_relacion>LAS CONDES            </comuna_relacion>
  <codigo_comuna_relacion>00000</codigo_comuna_relacion>
  <ciudad_relacion></ciudad_relacion>
  <region_relacion>13</region_relacion>
  <fono_relacion>076099181</fono_relacion>
  <cupo_nac_relacion>0000012000000</cupo_nac_relacion>
  <cupo_int_relacion>000000001927400</cupo_int_relacion>
  <ciclo_fact_relacion>27</ciclo_fact_relacion>
  <codigo_fv_relacion>2</codigo_fv_relacion>
  <cuenta_primaria>0005522520250071656</cuenta_primaria>
  <monto4>+000000000000000</monto4>
  <monto5>+000000000000000</monto5>
  <monto6>+000000000000000</monto6>
  <numero4>0000000000</numero4>
  <numero5>0000000000</numero5>
  <numero6>0000000000</numero6>
  <flag4>0</flag4>
  <flag5>0</flag5>
  <flag6>0</flag6>
  <string4></string4>
  <string5></string5>
  <string6></string6>
  <filler_06></filler_06>
  <nro_cuenta_aut>000423471______4132</nro_cuenta_aut>
  <status_cta_aut>01</status_cta_aut>
  <status2_cta_aut>00</status2_cta_aut>
  <cupo_comp_nac_cta_aut>0000010000000</cupo_comp_nac_cta_aut>
  <cupo_comp_int_cta_aut>000000001507333</cupo_comp_int_cta_aut>
  <cupo_avce_nac_cta_aut>0000010000000</cupo_avce_nac_cta_aut>
  <cupo_avce_int_cta_aut>000000001507400</cupo_avce_int_cta_aut>
  <cupo_l2_cta_aut>0000000000000</cupo_l2_cta_aut>
  <deuda_comp_nac_cta_aut>+0000001623370</deuda_comp_nac_cta_aut>
  <deuda_comp_int_cta_aut>+000000000072730</deuda_comp_int_cta_aut>
  <deuda_avce_nac_cta_aut>+0000000000000</deuda_avce_nac_cta_aut>
  <deuda_avce_int_cta_aut>+000000000000000</deuda_avce_int_cta_aut>
  <deuda_l2_cta_aut>+0000000000000</deuda_l2_cta_aut>
  <disp_comp_nac_cta_aut>+0000008376630</disp_comp_nac_cta_aut>
  <disp_comp_int_cta_aut>+000000001434603</disp_comp_int_cta_aut>
  <disp_avce_nac_cta_aut>+0000008376630</disp_avce_nac_cta_aut>
  <disp_avce_int_cta_aut>+000000001434590</disp_avce_int_cta_aut>
  <disp_l2_cta_aut>+0000000000000</disp_l2_cta_aut>
  <disp_flot_cuotas_l2_cta_aut>+0000000000000</disp_flot_cuotas_l2_cta_aut>
  <disp_flot_avce_l2_cta_aut>+0000000000000</disp_flot_avce_l2_cta_aut>
  <disp_flot_avce_cuota_l1_l2_cta>+0000010376630</disp_flot_avce_cuota_l1_l2_cta>
  <aut_pend_pesos_l1_cta_aut>+0000000000000</aut_pend_pesos_l1_cta_aut>
  <aut_pend_dolar_l1_cta_aut>+000000000000000</aut_pend_dolar_l1_cta_aut>
  <aut_pend_l2_cta_aut>+0000000000000</aut_pend_l2_cta_aut>
  <deuda_tot_peso_cta_aut>+0000001623370</deuda_tot_peso_cta_aut>
  <deuda_tot_dolar_cta_aut>+000000000072730</deuda_tot_dolar_cta_aut>
  <pago_min_cta_aut>000001513274</pago_min_cta_aut>
  <tasa_1_cta_aut>00000</tasa_1_cta_aut>
  <tasa_2_cta_aut>00000</tasa_2_cta_aut>
  <flag_cuota_fija_cta_aut>S</flag_cuota_fija_cta_aut>
  <flag_avce_cuota_cta_aut>S</flag_avce_cuota_cta_aut>
  <flag_ncuota_cta_aut>S</flag_ncuota_cta_aut>
  <flag_3cpc_cta_aut>S</flag_3cpc_cta_aut>
  <flag_comp_normal_cta_aut>S</flag_comp_normal_cta_aut>
  <flag_avce_efectivo_cta_aut>S</flag_avce_efectivo_cta_aut>
  <monto7>+000000000000000</monto7>
  <monto8>+000000000000000</monto8>
  <monto9>+000000000000000</monto9>
  <numero7>0000000000</numero7>
  <numero8>0000000000</numero8>
  <numero9>0000000000</numero9>
  <flag7>0</flag7>
  <flag8>0</flag8>
  <flag9>0</flag9>
  <string7></string7>
  <string8></string8>
  <string9></string9>
  <filler_07></filler_07>
  <nro_tarjeta_aut>000423471______4132</nro_tarjeta_aut>
  <nro_secuencia_aut>0001</nro_secuencia_aut>
  <status_tjta_aut>01</status_tjta_aut>
  <status2_tjta_aut>00</status2_tjta_aut>
  <cupo_comp_nac_tjta_aut>0000010000000</cupo_comp_nac_tjta_aut>
  <cupo_comp_int_tjta_aut>000000001507333</cupo_comp_int_tjta_aut>
  <cupo_avce_nac_tjta_aut>0000010000000</cupo_avce_nac_tjta_aut>
  <cupo_avce_int_tjta_aut>000000001507333</cupo_avce_int_tjta_aut>
  <cupo_l2_tjta_aut>0000000000000</cupo_l2_tjta_aut>
  <deuda_comp_nac_tjta_aut>+0000001623370</deuda_comp_nac_tjta_aut>
  <deuda_comp_int_tjta_aut>+000000000072730</deuda_comp_int_tjta_aut>
  <deuda_avce_nac_tjta_aut>+0000000000000</deuda_avce_nac_tjta_aut>
  <deuda_avce_int_tjta_aut>+000000000000000</deuda_avce_int_tjta_aut>
  <deuda_l2_tjta_aut>+0000000000000</deuda_l2_tjta_aut>
  <disp_comp_nacional_tjta_aut>+0000008376630</disp_comp_nacional_tjta_aut>
  <disp_comp_internacional_tjta_aut>+000000001434603</disp_comp_internacional_tjta_aut>
  <disp_avce_nacional_tjta_aut>+0000008376630</disp_avce_nacional_tjta_aut>
  <disp_avce_internacional_tjta_aut>+000000001434590</disp_avce_internacional_tjta_aut>
  <disp_l2_tjta_aut>+0000000000000</disp_l2_tjta_aut>
  <disp_flot_cuotas_l2_tjta_aut>+0000000000000</disp_flot_cuotas_l2_tjta_aut>
  <disp_flot_avce_l2_tjta_aut>+0000000000000</disp_flot_avce_l2_tjta_aut>
  <disp_flot_avce_cuota_l1_l2_tjta>+0000010376630</disp_flot_avce_cuota_l1_l2_tjta>
  <aut_pend_l1_tjta_aut>+0000000000000</aut_pend_l1_tjta_aut>
  <aut_pend_l2_tjta_aut>+0000000000000</aut_pend_l2_tjta_aut>
  <fecha_vcto_tjta_aut>20220430</fecha_vcto_tjta_aut>
  <nombre_banda_tjta_aut>LOPEZ G/HUGO        </nombre_banda_tjta_aut>
  <offset_tjta_aut>+0000</offset_tjta_aut>
  <cvv2_tjta_aut>0000</cvv2_tjta_aut>
  <flag_cuota_fija_tjta_aut></flag_cuota_fija_tjta_aut>
  <flag_avce_cuotas_tjta_aut></flag_avce_cuotas_tjta_aut>
  <flag_ncuotas_tjta_aut></flag_ncuotas_tjta_aut>
  <flag_3cpc_tjta_aut></flag_3cpc_tjta_aut>
  <flag_compra_normal_tjta_aut></flag_compra_normal_tjta_aut>
  <flag_avce_efecvo_tjta_aut></flag_avce_efecvo_tjta_aut>
  <monto12>+000000000000000</monto12>
  <monto22>+000000000000000</monto22>
  <monto32>+000000000000000</monto32>
  <numero12>0000000000</numero12>
  <numero22>0000000000</numero22>
  <numero32>0000000000</numero32>
  <flag12>0</flag12>
  <flag22>0</flag22>
  <flag32>0</flag32>
  <string12></string12>
  <string22></string22>
  <string32></string32>
  <filler_08></filler_08>
  <cdgo_banco>000</cdgo_banco>
  <desc_banco></desc_banco>
  <tipo_pac>0000</tipo_pac>
  <nro_ctacte_pac></nro_ctacte_pac>
  <fecha_pac>00000000</fecha_pac>
  <fecha_activ_pac>00000000</fecha_activ_pac>
  <fecha_modif_pac>00000000</fecha_modif_pac>
  <fecha_renuncia_pac>00000000</fecha_renuncia_pac>
  <monto13>0000000000000000</monto13>
  <monto23>0000000000000000</monto23>
  <numero13>0000000000</numero13>
  <numero23>0000000000</numero23>
  <flag13></flag13>
  <flag23></flag23>
  <string13></string13>
  <string23></string23>
  <dias_mora>0000</dias_mora>
  <fecha_inicio_mora>00000000</fecha_inicio_mora>
  <monto_mora1>0000000000000</monto_mora1>
  <monto_mora2>0000000000000</monto_mora2>
  <monto_mora3>0000000000000</monto_mora3>
  <monto_mora4>0000000000000</monto_mora4>
  <monto_mora5>0000000000000</monto_mora5>
  <monto_mora6>0000000000000</monto_mora6>
  <monto_mora7>0000000000000</monto_mora7>
  <monto_mora8>0000000000000</monto_mora8>
  <monto14>0000000000000000</monto14>
  <monto24>0000000000000000</monto24>
  <numero14>0000000000</numero14>
  <numero24>0000000000</numero24>
  <flag14></flag14>
  <flag24></flag24>
  <string14></string14>
  <string24></string24>
  <cuenta_castigo>0000000000000000000</cuenta_castigo>
  <monto_castigo>0000000000000</monto_castigo>
  <filler_09></filler_09>
</DATA>]]></XmlOutMol>
      </MolST247ConsultasResponse>
   </s:Body>
</s:Envelope>