{
  "coderror": "0",
  "msgerror": "OK",
  "timestamp": "20210831 T 18:47:00",
  "canal": "WEB",
  "id_emisor_servicio": "3127967354371983921074",
  "idwsst247": "",
  "organizacion": "",
  "num_cuenta_s": "",
  "logo": "",
  "desc_logo": "",
  "modelo": " ",
  "tipo_cta": " ",
  "relacion_cuenta": " ",
  "cobertura_cuenta": " ",
  "apaterno": " ",
  "amaterno": " ",
  "nombre_clte": " ",
  "dir_part": " ",
  "ciudad_part": " ",
  "comuna_part": " ",
  "region_part": " ",
  "fono_part": " ",
  "direc_envio_eecc": " ",
  "ciudad_envio_eecc": " ",
  "comuna_envio_eecc": " ",
  "region_envio_eecc": " ",
  "fono_envio_eecc": " ",
  "cdgo_postal": " ",
  "dir_lab": " ",
  "ciudad_laboral": " ",
  "comuna_lab": " ",
  "reg_laboral": " ",
  "fono_laboral": " ",
  "dir_email1": " ",
  "rut": " ",
  "dv_rut_clte": " ",
  "nro_cliente": " ",
  "nro_relacion": " ",
  "nro_int": " ",
  "nro_ctacte": " ",
  "campana": " ",
  "nro_int2": " ",
  "sucursal": " ",
  "cta_trassaldo": " ",
  "cantidad_adic": " ",
  "cdgo_autcc": " ",
  "cdgo_vip": " ",
  "cdgo_mje_mora_pgomin": " ",
  "codigo_mov": " ",
  "por_pminimo": " ",
  "estado_canales1": " ",
  "fecha_datos": " ",
  "fecha_apert": " ",
  "fecha_modif": " ",
  "fecha_actv_tjta": " ",
  "fecha_act_ren": " ",
  "fecha_bloq1": " ",
  "fecha_bloq2": " ",
  "fecha_ult_pago_pesos": " ",
  "fecha_ult_pago_dolar": " ",
  "fecha_ult_fact": " ",
  "fecha_venc_pago": " ",
  "fecha_nac_tit": " ",
  "cdgo_bloq1": " ",
  "cdgo_bloq2": " ",
  "cdgo_bloq_numerico": " ",
  "cdgo_mora": " ",
  "cdgo_cartera_vencida": " ",
  "cdgo_cob": " ",
  "forma_pago": " ",
  "ciclo_fac": " ",
  "cdgo_fv": " ",
  "cdgo_empresa": " ",
  "cdgo_envio_eecc": " ",
  "rebaja_cobadm": " ",
  "nro_moras_periodo": " ",
  "nro_excesos_periodo": " ",
  "nro_bloq_por_moras": " ",
  "cdgo_aval": " ",
  "cdgo_promocion": " ",
  "ind_tjta_operador": " ",
  "ind_pin": " ",
  "ind_cobro_comision": " ",
  "porcje_exceso_compras_nac": " ",
  "porcje_exceso_compras_int": " ",
  "medio_envio_fisico_eecc": " ",
  "tipo_dir_fisica": " ",
  "tipo_pago": " ",
  "por_pfijo": " ",
  "mto_pfijo_9": " ",
  "cdgo_embozado": " ",
  "pct_pesos_9": " ",
  "pct_dolar_9": " ",
  "tres_cpc": " ",
  "comision_exceso": " ",
  "cupo_nacional": " ",
  "cupo_int": " ",
  "cupo_linea_2": " "
  "cupo_virtual": " ",
  "cupo_virtual_int": " ",
  "deuda_nac_cta": " ",
  "deuda_int_cta": " ",
  "deuda_l2_cta": " ",
  "deuda_mora_nac_cta": " ",
  "deuda_mora_int_cta": " ",
  "deuda_nac_fact_cta": " ",
  "deuda_int_fact_cta": " ",
  "disp_nac_cta": " ",
  "disp_int_cta": " ",
  "disp_l2_cta": " ",
  "saldo_credito_cuota_capital": " ",
  "disp_avances_cta": " ",
  "disp_avances_dolar_cta": " ",
  "mora_1_30d": " ",
  "mora_31_60d": " ",
  "mora_61_90d": " ",
  "mora_91_120d": " ",
  "mora_121_150d": " ",
  "mora_151_180d": " ",
  "mora_181_210d": " ",
  "mora_210_999d": " ",
  "recargo_cob_1_30d": " ",
  "recargo_cob_31_60d": " ",
  "recargo_cob_61_90d": " ",
  "recargo_cob_91_120d": " ",
  "recargo_cob_121_150d": " ",
  "recargo_cob_151_180d": " ",
  "recargo_cob_181_210d": " ",
  "recargo_cob_210_999d": " ",
  "pago_minimo": " ",
  "sldo_col_nac": " ",
  "sldo_col_int": " ",
  "tasa_interes_rotativo": " ",
  "tasa_interes_cuotas_2_4": " ",
  "tasa_interes_cuotas_5_24": " ",
  "interes_x_cobrar_oper": " ",
  "interes_x_cobrar_corr": " ",
  "interes_x_cobrar_penales": " ",
  "interes_dev_oper": " ",
  "interes_dev_corr": " ",
  "interes_dev_penales": " ",
  "interes_perc_oper": " ",
  "interes_perc_corr": " ",
  "interes_perc_penales": " ",
  "deuda_total": " ",
  "colocacion_mes": " ",
  "monto_compra_mes": " ",
  "monto_avance_mes": " ",
  "monto_ultimo_pago_peso": " ",
  "monto_ultimo_pago_dolar": " ",
  "monto_cobro_adm": " ",
  "consumo_pesos": " ",
  "consumo_dolar": " ",
  "pagos_pesos_ciclo": " ",
  "pagos_dolar_ciclo": " ",
  "creditos_pesos_ciclo": " ",
  "creditos_dolar_ciclo": " ",
  "debitos_pesos_ciclo": " ",
  "debitos_dolar_ciclo": " ",
  "creditos_memo_pesos_ciclo": " ",
  "creditos_memo_dolar_ciclo": " ",
  "debitos_memo_pesos_ciclo": " ",
  "debitos_memo_dolar_ciclo": " ",
  "utili_x_cobrar_moneda_ext": " ",
  "pagos_x_aplicar_moneda_ext": " ",
  "utili_x_cobrar_moneda_nac": " ",
  "tasa_int_avce_cta_corta": " ",
  "tasa_int_avce_cta_larga": " ",
  "monto1": " ",
  "monto2": " ",
  "monto3": " ",
  "numero1": " ",
  "numero2": " ",
  "numero3": " ",
  "flag1": " ",
  "flag2": " ",
  "flag3": " ",
  "fecha_ult_fact_dolar": " ",
  "fecha_venc_fact_dolar": " ",
  "fecha_prox_fact_calend": " ",
  "fecha_prox_venc_calend": " ",
  "fecha_vig_eecc_desde": " ",
  "fecha_vig_eecc_hasta": " ",
  "marca": " ",
  "filler_04": " ",
  "num_tarjeta_s": " ",
  "secuencia_tarjeta_s": " ",
  "nomb_tjta_habiente": " ",
  "nombre_empresa": " ",
  "rut_tarjeta": " ",
  "dv_tarjeta": " ",
  "sexo": " ",
  "estado_civil": " ",
  "tipo_tjta": " ",
  "estado_tjta": " ",
  "fecha_vcto_tjta": " ",
  "codigo_bloq_tjta": " ",
  "fecha_bloq_tjta": " ",
  "codigo_afinidad": " ",
  "desc_afinidad": " ",
  "cdgo_socio": " ",
  "offset": " ",
  "fecha_vcto_actual": " ",
  "fecha_vcto_anterior": " ",
  "flag_actv_tjta_actual": " ",
  "flag_actv_tjta_anterior": " ",
  "accion": " ",
  "tjtas_requeridas": " ",
  "fecha_activacion": " ",
  "fecha_apertura": " ",
  "fecha_modif_tjta": " ",
  "member_since": " ",
  "cupo_compras_nac_tjta": " ",
  "cupo_compras_int_tjta": " ",
  "cupo_avces_nac_tjta": " ",
  "cupo_avces_int_tjta": " ",
  "cupo_linea2_tjta": " ",
  "deuda_compras_nac_tjta": " ",
  "deuda_compras_int_tjta": " ",
  "deuda_avces_nac_tjta": " ",
  "deuda_avces_int_tjta": " ",
  "deuda_l2_tjta": " ",
  "disp_comp_nac_tjta": " ",
  "disp_comp_int_tjta": " ",
  "disp_avces_nac_tjta": " ",
  "disp_avces_int_tjta": " ",
  "disp_l2_tjta": " ",
  "monto11": " ",
  "monto21": " ",
  "monto31": " ",
  "numero11": " ",
  "numero21": " ",
  "numero31": " ",
  "flag11": " ",
  "flag21": " ",
  "flag31": " ",
  "string11": " ",
  "string21": " ",
  "string31": " ",
  "filler_05": " ",
  "nro_relacion2": " ",
  "status_relacion": " ",
  "numero_cliente": " ",
  "cantidad_sub_cuentas": " ",
  "codigo_bloqueo_rel": " ",
  "nombre_rel": " ",
  "direccion_relacion": " ",
  "comuna_relacion": " ",
  "codigo_comuna_relacion": " ",
  "ciudad_relacion": " ",
  "region_relacion": " ",
  "fono_relacion": " ",
  "cupo_nac_relacion": " ",
  "cupo_int_relacion": " ",
  "ciclo_fact_relacion": " ",
  "codigo_fv_relacion": " ",
  "cuenta_primaria": " ",
  "monto4": " ",
  "monto5": " ",
  "monto6": " ",
  "numero4": " ",
  "numero5": " ",
  "numero6": " ",
  "flag4": " ",
  "flag5": " ",
  "flag6": " ",
  "string4": " ",
  "string5": " ",
  "string6": " ",
  "filler_06": " ",
  "nro_cuenta_aut": " ",
  "status_cta_aut": " ",
  "status2_cta_aut": " ",
  "cupo_comp_nac_cta_aut": " ",
  "cupo_comp_int_cta_aut": " ",
  "cupo_avce_nac_cta_aut": " ",
  "cupo_avce_int_cta_aut": " ",
  "cupo_l2_cta_aut": " ",
  "deuda_comp_nac_cta_aut": " ",
  "deuda_comp_int_cta_aut": " ",
  "deuda_avce_nac_cta_aut": " ",
  "deuda_avce_int_cta_aut": " ",
  "deuda_l2_cta_aut": " ",
  "disp_comp_nac_cta_aut": " ",
  "disp_comp_int_cta_aut": " ",
  "disp_avce_nac_cta_aut": " ",
  "disp_avce_int_cta_aut": " ",
  "disp_l2_cta_aut": " ",
  "disp_flot_cuotas_l2_cta_aut": " ",
  "disp_flot_avce_l2_cta_aut": " ",
  "disp_flot_avce_cuota_l1_l2_cta": " ",
  "aut_pend_pesos_l1_cta_aut": " ",
  "aut_pend_dolar_l1_cta_aut": " ",
  "aut_pend_l2_cta_aut": " ",
  "deuda_tot_peso_cta_aut": " ",
  "deuda_tot_dolar_cta_aut": " ",
  "pago_min_cta_aut": " ",
  "tasa_1_cta_aut": " ",
  "tasa_2_cta_aut": " ",
  "flag_cuota_fija_cta_aut": " ",
  "flag_avce_cuota_cta_aut": " ",
  "flag_ncuota_cta_aut": " ",
  "flag_3cpc_cta_aut": " ",
  "flag_comp_normal_cta_aut": " ",
  "flag_avce_efectivo_cta_aut": " ",
  "monto7": " ",
  "monto8": " ",
  "monto9": " ",
  "numero7": " ",
  "numero8": " ",
  "numero9": " ",
  "flag7": " ",
  "flag8": " ",
  "flag9": " ",
  "string7": " ",
  "string8": " ",
  "string9": " ",
  "filler_07": " ",
  "nro_tarjeta_aut": " ",
  "nro_secuencia_aut": " ",
  "status_tjta_aut": " ",
  "status2_tjta_aut": " ",
  "cupo_comp_nac_tjta_aut": " ",
  "cupo_comp_int_tjta_aut": " ",
  "cupo_avce_nac_tjta_aut": " ",
  "cupo_avce_int_tjta_aut": " ",
  "cupo_l2_tjta_aut": " ",
  "deuda_comp_nac_tjta_aut": " ",
  "deuda_comp_int_tjta_aut": " ",
  "deuda_avce_nac_tjta_aut": " ",
  "deuda_avce_int_tjta_aut": " ",
  "deuda_l2_tjta_aut": " ",
  "disp_comp_nacional_tjta_aut": " ",
  "disp_comp_internacional_tjta_aut": " ",
  "disp_avce_nacional_tjta_aut": " ",
  "disp_avce_internacional_tjta_aut": " ",
  "disp_l2_tjta_aut": " ",
  "disp_flot_cuotas_l2_tjta_aut": " ",
  "disp_flot_avce_l2_tjta_aut": " ",
  "disp_flot_avce_cuota_l1_l2_tjta": " ",
  "aut_pend_l1_tjta_aut": " ",
  "aut_pend_l2_tjta_aut": " ",
  "fecha_vcto_tjta_aut": " ",
  "nombre_banda_tjta_aut": " ",
  "offset_tjta_aut": " ",
  "cvv2_tjta_aut": " ",
  "flag_cuota_fija_tjta_aut": " ",
  "flag_avce_cuotas_tjta_aut": " ",
  "flag_ncuotas_tjta_aut": " ",
  "flag_3cpc_tjta_aut": " ",
  "flag_compra_normal_tjta_aut": " ",
  "flag_avce_efecvo_tjta_aut": " ",
  "monto12": " ",
  "monto22": " ",
  "monto32": " ",
  "numero12": " ",
  "numero22": " ",
  "numero32": " ",
  "flag12": " ",
  "flag22": " ",
  "flag32": " ",
  "string12": " ",
  "string22": " ",
  "string32": " ",
  "filler_08": " ",
  "cdgo_banco": " ",
  "desc_banco": " ",
  "tipo_pac": " ",
  "nro_ctacte_pac": " ",
  "fecha_pac": " ",
  "fecha_activ_pac": " ",
  "fecha_modif_pac": " ",
  "fecha_renuncia_pac": " ",
  "monto13": " ",
  "monto23": " ",
  "numero13": " ",
  "numero23": " ",
  "flag13": " ",
  "flag23": " ",
  "string13": " ",
  "string23": " ",
  "dias_mora": " ",
  "fecha_inicio_mora": " ",
  "monto_mora1": " ",
  "monto_mora2": " ",
  "monto_mora3": " ",
  "monto_mora4": " ",
  "monto_mora5": " ",
  "monto_mora6": " ",
  "monto_mora7": " ",
  "monto_mora8": " ",
  "monto14": " ",
  "monto24": " ",
  "numero14": " ",
  "numero24": " ",
  "flag14": " ",
  "flag24": " ",
  "string14": " ",
  "string24": " ",
  "cuenta_castigo": " ",
  "monto_castigo": " ",
  "filler_09": " "
}